/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
/*basic reset*/
/* line 16, /home/akshay/super_engineer/super-engineer.heroku.io/source/stylesheets/all.css.scss */
* {
  margin: 0;
  padding: 0; }

/* line 27, /home/akshay/super_engineer/super-engineer.heroku.io/source/stylesheets/all.css.scss */
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  font-size: 16px;
}

.container{
  max-width: 960px;
  padding: 0 20px;
  margin: 40px auto;
}

h1{
  font-weight: 400;
}

a{
  color: #333;
  font-weight: bold;
}

p{
  line-height: 28px;
  margin: 20px 0;
}